<p>If you have not already, use the iOS app to create a user account. Then, enter the same email here, and expert status will be added to the account.</p>
<%= form_for @expert, url: {action: 'createExpert'} do |f| %>
  <%= f.label :email, "User email" %>
  <br/>
  <%= text_field :post, :email %>
  <br/>
  <%= f.label :bio, "Expert Bio" %>
  <br/>
  <%= text_area :expert, :bio, cols: 40, rows: 10, :maxlength => 150 %>
  <br/>
  <%= f.label :photo_label, "Profile Picture" %>
  <br/>
  <%= f.file_field :photo %>
  <br/>
  <%= f.label :password, "Password - You should have received a password from CrushIt" %>
  <br/>
  <%= text_field :post, :passcode %>
  <br/>
  <%= f.submit ("Submit") %>
<% end %>