<div class="container">  
  <div class="title">
    <h1 id="crush-it-title"> CrushIt! </h1>
    <p>Expert Sign Up Form</p>
  </div>
  <div class="instructions">
    <h3>Instructions</h3>
    <p>If you have not already, use the iOS app to create a user account. Then, enter the same email here, and expert status will be added to the account.</p>
  </div>
  <%= form_for @expert, url: {action: 'createExpert'}, :html => {:class => 'form', :multipart => true} do |f| %>
    <%= f.label :email, "User email", :class => 'form-label' %>
    <br/>
    <%= text_field :expert, :email, :class => 'form-item' %>
    <br/>
    <%= f.label :bio_label, "Expert Bio", :class => 'form-label' %>
    <br/>
    <%= text_area :expert, :bio, cols: 40, rows: 10, :maxlength => 250, :class => 'form-item' %>
    <br/>
    <%= f.label :photo_label, "Profile Picture", :class => 'form-label' %>
    <br/>
    <%= f.file_field :avatar, :class => 'form-item' %>
    <br/>
    <%= f.label :password, "Password - You should have received a password from CrushIt", :class => 'form-label' %>
    <br/>
    <%= text_field :post, :passcode, :class => 'form-item' %>
    <br/>
    <%= f.submit ("Submit"), :class => 'form-item', :id => 'submit-button' %>
  <% end %>
</div>
